/* style.css */

/* Estilos Gerais */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
    margin-bottom: 2rem;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Estilos dos Dados de Sensores */
.sensor-data {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    flex: 1 1 300px; /* Responsividade */
    max-width: 350px;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s;
}

.sensor-data:hover {
    transform: translateY(-10px); /* Efeito hover */
}

.sensor-data h2 {
    color: #4CAF50;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.data-box {
    background-color: #e7f3e7;
    padding: 1.5rem;
    border-radius: 5px;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.data-box p {
    margin: 0;
    font-size: 1.2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer p {
    margin: 0;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }
    
    .sensor-data {
        max-width: 100%;
        margin: 1rem 0;
    }
}
/* style.css */

/* Estilos Gerais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
    margin-bottom: 2rem;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Estilos dos Dados de Sensores */
.sensor-data {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    flex: 1 1 300px; /* Responsividade */
    max-width: 350px;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s;
}

.sensor-data:hover {
    transform: translateY(-10px); /* Efeito hover */
}

.sensor-data h2 {
    color: #4CAF50;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.data-box {
    background-color: #e7f3e7;
    padding: 1.5rem;
    border-radius: 5px;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.data-box p {
    margin: 0;
    font-size: 1.2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer p {
    margin: 0;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }
    
    .sensor-data {
        max-width: 100%;
        margin: 1rem 0;
    }
}
